#grid {
    /* font-family: monospace; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30vmin;
    height: 30vmin;
    font-size: 5vmin;
}

#grid div {
    width: 100%;
    height: 100%;
    border: solid black 1px;
    display: grid;
}

#grid div span {
    /* display: block; */
    margin: auto;
}